In [3]:
import pandas 
df = pandas.read_csv('house_price_regression.xlsx')#读取数据

CParserError: Error tokenizing data. C error: Expected 1 fields in line 13, saw 2

In [2]:
df.head()

   Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0     1  114300  1790         2          2       2    No         East
1     2  114200  2030         4          2       3    No         East
2     3  114800  1740         3          2       1    No         East
3     4   94700  1980         3          2       3    No         East
4     5  119800  2130         3          3       3    No         East

In [7]:
house = #对Brick与Neighborhood两列数据进行one-hot处理
#删除No列
#删除West列
#删除Brick列
#删除Neighborhood列
#删除Home列
house.head()

    Price  SqFt  Bedrooms  Bathrooms  Offers  Yes  East  North
0  114300  1790         2          2       2    0     1      0
1  114200  2030         4          2       3    0     1      0
2  114800  1740         3          2       1    0     1      0
3   94700  1980         3          2       3    0     1      0
4  119800  2130         3          3       3    0     1      0

In [8]:
X = #X为house的'SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North'列
Y = #Y为house的Price列的values

In [9]:
import numpy.core.multiarray
from pandas.core import datetools
import statsmodels.api as sm#导入statsmodels.api里面的sm，用于评估模型
X2 =  #利用sm.add_constant为X增加一列名为const,值为1的数据
est =#调用sm的OLS函数对Y,X2进行模型创建
est2 = #调用est的fit函数创建回归结果
#输出打印est2的概要信息
est2.aic

In [10]:
predictorcols = ['SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North']
import itertools
for variables in itertools.combinations(predictorcols, 2):
    print(variables)

('SqFt', 'Bedrooms')
('SqFt', 'Bathrooms')
('SqFt', 'Offers')
('SqFt', 'Yes')
('SqFt', 'East')
('SqFt', 'North')
('Bedrooms', 'Bathrooms')
('Bedrooms', 'Offers')
('Bedrooms', 'Yes')
('Bedrooms', 'East')
('Bedrooms', 'North')
('Bathrooms', 'Offers')
('Bathrooms', 'Yes')
('Bathrooms', 'East')
('Bathrooms', 'North')
('Offers', 'Yes')
('Offers', 'East')
('Offers', 'North')
('Yes', 'East')
('Yes', 'North')
('East', 'North')

In [11]:
import itertools#导入itertools库
AICs = #创建字典AICs ，用于保存每个列名组合的aic结果
#for循环，循环变量i从1到predictorcols列表的长度加1
     #再次for循环，循环变量var的范围为predictorcols的各种i个元素组合集合itertools.combinations(predictorcols,i)
        predictors  =#predictors为数据框X里的var列的数据，记得要先将var转换成list
        predictors2 =  #利用sm.add_constant为predictors增加一列名为const,值为1的数据
        est = #调用sm的OLS函数对y,predictors2进行模型创建
        res = #调用est的fit函数创建回归结果
        AICs[var] =  #将res.aic的结果赋值给 AICs的每一个var

In [17]:
#AICs

In [12]:
from collections import Counter#导入collections的Counter
c = #调用Counter，对AICs进行降序排序
#调用排序后的c倒数10个数据对象

[(('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East', 'North'),
  2729.3189814012494),
 (('SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Yes'), 2789.5148143560264),
 (('SqFt', 'Offers', 'East', 'North'), 2805.929045591597),
 (('SqFt', 'Bedrooms', 'Bathrooms', 'East', 'North'), 2827.1498026886024),
 (('Bedrooms', 'Bathrooms', 'Offers', 'Yes', 'East'), 2837.9283737790706),
 (('Bedrooms', 'Bathrooms', 'Offers', 'Yes'), 2845.973295559599),
 (('SqFt', 'Offers'), 2865.6942475349356),
 (('Bedrooms', 'Bathrooms', 'Offers', 'East'), 2874.0450207228523),
 (('Bedrooms', 'Bathrooms', 'Yes'), 2883.9535408052025),
 (('SqFt', 'Yes'), 2896.9093592727936),
 (('Bedrooms', 'North'), 2908.6992372764653),
 (('Bedrooms', 'Bathrooms'), 2916.035689947397),
 (('Bathrooms',), 2936.1658574541634)]