## 读取数据

In [5]:
import pandas
df = pandas.read_csv('house_data.csv')#读取数据文件house_data.csv

## 检视前几行资料

In [6]:
df.head(3)#查看前3行

,Unnamed: 0,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,30.6
1,1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [7]:
#用del删除列名为'Unnamed: 0'的列
df.head(3)

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

## 舍弃第一栏

In [9]:
#将文件读取进来，命名为df，并且在读取文件同时删除第1列

In [10]:
df.head(3)

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

## 将"暂无资料"变成缺失值

In [11]:
#筛选df数据框中“物业费”列的值为“暂无资料”的行记录

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.4,2室2厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,30.60
7,纪联小区，，大一房一厅，精装修，，！诚售,个人产权,普通住宅,板楼,NaN,1996年,50.0,1室1厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,230.00
27,投咨300亿山水六旗主题公园 金色海岸 海景房 得房率110,个人产权,普通住宅,NaN,NaN,2016年,84.0,2室2厅0厨1卫,中层(共15层),暂无资料,住宅,NaN,毛坯,80.00
65,老客户转让，首付20万，可，1梯1户，专车接送看房,个人产权,普通住宅,NaN,NaN,2017年,82.0,3室2厅1厨2卫,低层(共17层),暂无资料,住宅,平层,毛坯,69.00
70,南浔古镇，月亮湾花园，南北通透，双轨交汇，配套齐全，得房,个人产权,普通住宅,板楼,NaN,2017年,92.0,2室2厅1厨1卫,中层(共17层),暂无资料,住宅,平层,简装修,80.00
71,疯了，居然还有这么的房子。房东120万诚心出售。,个人产权,普通住宅,板楼,NaN,2004年,90.0,3室2厅1厨1卫,中层(共15层),暂无资料,住宅,平层,精装修,400.00
74,携手途家包租10年，10个点，客,个人产权,酒店式公寓,板楼,NaN,2014年,50.0,2室1厅1厨1卫,中层(共8层),暂无资料,住宅,平层,豪华装修,40.00
89,长征新村周围生活配套齐全，3号线，赠送面积大，可看房。,个人产权,普通住宅,钢混,NaN,1985年,35.0,2室1厅1厨1卫,中层(共6层),暂无资料,住宅,平层,精装修,83.00
124,海宁市，三 双公园，首付三成配套完善，！,个人产权,普通住宅,NaN,NaN,2017年,130.0,3室2厅1厨2卫,中层(共33层),暂无资料,住宅,NaN,精装修,123.00
159,热销三房 别墅区 高铁 首付无忧 古镇风景旁 太湖风景区,个人产权,普通住宅,板楼,NaN,NaN,88.0,2室1厅1厨1卫,中层(共11层),暂无资料,住宅,平层,豪华装修,55.00
160,周边六所 高铁旁 风景边 别墅生活圈 户型,商品房,普通住宅,钢混,NaN,2013年,90.0,3室1厅1厨1卫,中层(共18层),暂无资料,住宅,平层,豪华装修,NaN
161,12首付 铁旁 别墅风景区 湿地旁 交通便利 周边围绕,个人产权,普通住宅,钢混,NaN,2013年,90.0,2室1厅1厨1卫,低层(共18层),暂无资料,住宅,平层,豪华装修,60.00
162,小三房 首付超低 高铁旁 楼间距 人车分流 周边围绕,个人产权,普通住宅,板楼,NaN,2013年,88.0,3室1厅1厨1卫,中层(共18层),暂无资料,住宅,平层,豪华装修,65.88
163,太湖风景区太湖之星 超 空气清新,个人产权,普通住宅,板楼,NaN,2015年,75.0,2室1厅1厨1卫,中层(共21层),暂无资料,住宅,平层,豪华装修,62.88
164,太湖边一首独栋别墅 地理位置优越 4级景区送360花园+双车位+,商品房,普通住宅,板楼,NaN,2013年,600.0,5室3厅1厨4卫,低层(共3层),暂无资料,住宅,平层,简装修,406.00
165,12超・ 在建高铁规划 别墅风景区交通便利,个人产权,普通住宅,板楼,NaN,NaN,44.0,1室1厅1厨1卫,中层(共19层),暂无资料,住宅,平层,简装修,37.00
166,现房销售 首付超低 莱茵河畔 在建高铁 规划 别墅风景旁,个人产权,普通住宅,板楼,NaN,2013年,135.0,3室2厅1厨2卫,中层(共18层),暂无资料,住宅,平层,豪华装修,110.00
171,热销三方优美风景区 高铁 上海 嘉兴杭州 无锡 苏州,个人产权,普通住宅,钢混,NaN,NaN,125.0,3室2厅1厨2卫,中层(共19层),暂无资料,住宅,平层,豪华装修,79.00
177,上海周边 法式现房别墅 周边配套齐全地处繁华板块 独立大花园,商品房,普通住宅,板楼,NaN,2015年,309.0,5室3厅2厨5卫,低层(共3层),暂无资料,住宅,平层,豪华装修,360.00
185,百合苑 生态园北面 税费各付价 奉浦秒杀房源 看房随时,个人产权,普通住宅,平房,NaN,2005年,101.0,2室2厅1厨1卫,低层(共11层),暂无资料,住宅,平层,简装修,320.00
210,万城理想公馆，海宁市，今日开盘，首付只要40万，抓紧啦,商品房,普通住宅,NaN,NaN,2016年,78.0,2室2厅1厨1卫,中层(共26层),暂无资料,住宅,NaN,精装修,81.00
211,首付2成，3号线与9号线无缝对接，可，旁边环绕7座,商品房,普通住宅,NaN,NaN,暂无资料年,84.0,2室1厅1厨1卫,中层(共18层),暂无资料,住宅,NaN,精装修,58.00
214,海宁市，未来股，首付只要2.5成，看房专车接送机会不容错过,商品房,普通住宅,NaN,NaN,2015年,82.0,2室2厅1厨1卫,中层(共22层),暂无资料,住宅,NaN,精装修,65.00
222,首荐！电梯房 公园对面 地段没有比这更好的了！,个人产权,普通住宅,板楼,NaN,1993年,98.0,3室1厅1厨1卫,低层(共19层),暂无资料,住宅,平层,简装修,500.00
224,首荐！房方便 双南全明 此户型比较稀缺！,个人产权,普通住宅,板楼,NaN,1982年,60.0,2室1厅1厨1卫,高层(共26层),暂无资料,住宅,平层,精装修,360.00

In [502]:
import numpy as np
#将“物业费”列的值为“暂无资料”的单元格设置为空
df.head(3)

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [515]:
import pandas
#读取文件同时，将“暂无资料”的单元格设置为空，且去掉第一列
df.head(3)

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

## 检视后三行资料

In [514]:
df.tail(3)#查看后3行数据

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
237,6.12双轨，交通便利，配套成熟，购物方便，房东可接受置换！,个人产权,普通住宅,钢混,NaN,2005年,96.82,2室2厅1厨1卫,高层(共8层),1.86元/平米・月,住宅,平层,精装修,460.0
238,业主二次装修，保养好，户型方正，三房朝南，，随时看,个人产权,普通住宅,板楼,NaN,2002年,168.00,3室2厅1厨2卫,高层(共20层),2元/平米・月,住宅,平层,简装修,1250.0
239,区进门位置 三街坊43平直套通风一房 一梯二户 房东诚心卖,个人产权,普通住宅,板楼,NaN,1996年,43.13,1室1厅1厨1卫,高层(共7层),0.3元/平米・月,住宅,平层,简装修,278.0

## 检视DataFrame 信息

In [516]:
df.info()#查看df所有的信息(列名，各列非空计数，数据类型)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 14 columns):
標題       240 non-null object
产权性质     228 non-null object
住宅类别     218 non-null object
建筑类别     188 non-null object
参考月供     0 non-null float64
年代       224 non-null object
建筑面积     240 non-null float64
户型       240 non-null object
楼层       228 non-null object
物 业 费    215 non-null object
物业类型     240 non-null object
结构       181 non-null object
装修       228 non-null object
總價       237 non-null float64
dtypes: float64(3), object(11)
memory usage: 28.1+ KB

## 检视字段名称

In [517]:
df.columns#查看df所有列名

Index(['標題', '产权性质', '住宅类别', '建筑类别', '参考月供', '年代', '建筑面积', '户型', '楼层', '物 业 费',
       '物业类型', '结构', '装修', '總價'],
      dtype='object')

## 检视字段型态

In [518]:
df.dtypes#查看df各列数据类型

標題        object
产权性质      object
住宅类别      object
建筑类别      object
参考月供     float64
年代        object
建筑面积     float64
户型        object
楼层        object
物 业 费     object
物业类型      object
结构        object
装修        object
總價       float64
dtype: object

## 取得叙述性统计

In [519]:
#对df各非字符串列进行描述性统计（计数，均值，标准差，最大最小，4分位等）

       参考月供        建筑面积            總價
count   0.0  240.000000    237.000000
mean    NaN  113.435333    646.092869
std     NaN   99.199836   1300.349319
min     NaN   22.500000     30.600000
25%     NaN   68.952500    220.000000
50%     NaN   88.155000    400.000000
75%     NaN  123.250000    578.000000
max     NaN  731.240000  11000.000000

## 侦测缺失值

In [12]:
#对事个数据框df每个单元格进行缺失值判断

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,True,True,False,False,False,False,False,False,True,False,False
3,False,False,True,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False
5,False,False,True,False,True,False,False,False,False,False,False,False,False,False
6,False,True,True,True,True,True,False,False,True,False,False,True,True,False
7,False,False,False,False,True,False,False,False,False,False,False,False,False,False
8,False,False,False,False,True,False,False,False,False,False,False,False,False,False
9,False,False,False,False,True,False,False,False,False,False,False,False,False,False
10,False,False,False,False,True,False,False,False,False,False,False,False,False,False
11,False,True,True,True,True,True,False,False,True,False,False,True,True,False
12,False,False,False,True,True,False,False,False,False,False,False,True,False,False
13,False,False,False,False,True,False,False,False,False,False,False,False,False,False
14,False,False,False,False,True,False,False,False,False,False,False,False,False,False
15,False,False,False,False,True,False,False,False,False,False,False,False,False,False
16,False,False,False,False,True,False,False,False,False,False,False,False,False,False
17,False,False,False,False,True,False,False,False,False,False,False,False,False,False
18,False,False,False,False,True,False,False,False,False,False,False,False,False,True
19,False,False,False,False,True,False,False,False,False,False,False,False,False,False
20,False,False,False,False,True,False,False,False,False,False,False,False,False,False
21,False,False,False,False,True,False,False,False,False,False,False,False,False,False
22,False,False,False,False,True,False,False,False,False,False,False,False,False,False
23,False,False,False,False,True,False,False,False,False,False,False,False,False,False
24,False,False,False,False,True,False,False,False,False,False,False,False,False,False
25,False,False,False,False,True,False,False,False,False,False,False,False,False,False
26,False,False,False,False,True,False,False,False,False,False,False,False,False,False
27,False,False,False,True,True,False,False,False,False,False,False,True,False,False
28,False,False,False,False,True,False,False,False,False,False,False,False,False,False
29,False,True,True,True,True,True,False,False,True,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,False,False,False,True,True,False,False,False,False,False,False,True,False,False
211,False,False,False,True,True,False,False,False,False,False,False,True,False,False
212,False,False,False,True,True,False,False,False,False,False,False,True,False,False
213,False,False,False,True,True,False,False,False,False,False,False,True,False,False
214,False,False,False,True,True,False,False,False,False,False,False,True,False,False
215,False,False,False,True,True,False,False,False,False,False,False,True,False,False
216,False,False,False,True,True,False,False,False,False,False,False,True,False,False
217,False,False,False,False,True,False,False,False,False,False,False,False,False,False
218,False,False,False,False,True,False,False,False,False,False,False,False,False,False
219,False,False,False,False,True,False,False,False,False,False,False,False,False,False
220,False,False,False,False,True,False,False,False,False,False,False,False,False,False
221,False,False,False,False,True,False,False,False,False,False,False,False,False,False
222,False,False,False,False,True,False,False,False,False,False,False,False,False,False
223,False,False,False,False,True,False,False,False,False,False,False,False,False,False
224,False,False,False,False,True,False,False,False,False,False,False,False,False,False
225,False,False,False,False,True,False,False,False,False,False,False,False,False,False
226,False,False,False,False,True,False,False,False,False,False,False,False,False,False
227,False,False,False,False,True,False,False,False,False,False,False,False,False,False
228,False,False,False,False,True,False,False,False,False,False,False,False,False,False
229,False,False,False,False,True,False,False,False,False,False,False,False,False,False
230,False,False,False,False,True,False,False,False,False,False,False,False,False,False
231,False,False,False,False,True,False,False,False,False,False,False,False,False,False
232,False,False,False,False,True,False,False,False,False,False,False,False,False,False
233,False,False,False,True,True,False,False,False,False,False,False,True,False,False
234,False,False,False,False,True,False,False,False,False,False,False,False,False,False
235,False,True,True,True,True,True,False,False,True,False,False,True,True,False
236,False,False,False,False,True,False,False,False,False,False,False,False,False,False
237,False,False,False,False,True,False,False,False,False,False,False,False,False,False
238,False,False,False,False,True,False,False,False,False,False,False,False,False,False
239,False,False,False,False,True,False,False,False,False,False,False,False,False,False

In [522]:
#对数据框各列分别进行判断，返回每列是否有缺失值

標題       False
产权性质      True
住宅类别      True
建筑类别      True
参考月供      True
年代        True
建筑面积     False
户型       False
楼层        True
物 业 费     True
物业类型     False
结构        True
装修        True
總價        True
dtype: bool

In [523]:
#对数据框df按列统计各列各有多少个缺失值

標題         0
产权性质      12
住宅类别      22
建筑类别      52
参考月供     240
年代        16
建筑面积       0
户型         0
楼层        12
物 业 费     25
物业类型       0
结构        59
装修        12
總價         3
dtype: int64

In [474]:
#统计数据框各列缺失值各占各列总单元数的比例

標題       0.000000
产权性质     0.052632
住宅类别     0.100917
建筑类别     0.276596
参考月供          inf
年代       0.071429
建筑面积     0.000000
户型       0.000000
楼层       0.052632
物 业 费    0.116279
物业类型     0.000000
结构       0.325967
装修       0.052632
總價       0.012658
dtype: float64

## 删除有缺失值的字段

In [524]:
df.head(3)#查看df前3行

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,NaN,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,NaN,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [525]:
#用drop删除df的“参考月供”列数据

In [526]:
df.head(3)#再次查看df前3行

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

## 筛选字段

In [477]:
#对数据框df的“产权性质”列所有出现的值进行计数

个人产权     171
商品房       54
经济适用房      2
售后公房       1
Name: 产权性质, dtype: int64

In [530]:
#获取产权性质为'个人产权'的行记录

In [478]:
df[df['产权性质'] == '个人产权'].head(3)#查看获取产权性质为'个人产权'的行记录的前3行

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [14]:
df.iloc[5:7]

,標題,产权性质,住宅类别,建筑类别,参考月供,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
5,延吉控江一楼天井精装修水丰南北通透,商品房,NaN,板楼,NaN,1986年,35.0,1室2厅1厨1卫,低层(共6层),0.85元/平米・月,住宅,平层,简装修,205.0
6,纯双拼别墅，外环旁低总价，奢华大厅，美极了,NaN,NaN,NaN,NaN,NaN,237.0,4室3厅1厨4卫,NaN,3.8元/平米・月,别墅,NaN,NaN,1000.0

In [480]:
#筛选'建筑面积'大于100且總價大于2000的行记录，查看第1行

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.3,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [481]:
df.loc[df['建筑面积'] > 100].head(1)

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.3,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [533]:
#筛选产权性质为“个人产权”的行记录
df.head(3)

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [534]:
#对df的'产权性质'列按值计数

个人产权    171
Name: 产权性质, dtype: int64

## 舍弃包含缺失值的字段

In [535]:
df.head(3)

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [483]:
#筛选建筑类别为空的行记录，并查看前3行，问，建筑类别列数据是否均为空

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
12,月浦八村繁华地段 毗邻公园双南两房 双轨交通,个人产权,普通住宅,NaN,1991年,47.12,2室0厅0厨1卫,高层(共6层),0.6元/平米・月,住宅,NaN,中装修,180.0
27,投咨300亿山水六旗主题公园 金色海岸 海景房 得房率110,个人产权,普通住宅,NaN,2016年,84.00,2室2厅0厨1卫,中层(共15层),NaN,住宅,NaN,毛坯,80.0

In [536]:
#利用dropna删除df的列,并将结果重新赋值给df（整列均为空的列）

In [537]:
df.head(3)

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

## 补齐缺失值

In [538]:
df.head(3)

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),NaN,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [539]:
#对物业费为空的单元格，填补为0

In [540]:
df.head(3)

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),0,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0

In [543]:
#计算'總價'列为空的单元格个数

2

In [544]:
#筛选出‘總價’为空的行记录

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
18,光新路191弄 南北通透两室户 地段佳 出行方便满五少税,个人产权,普通住宅,板楼,1990年,47.00,2室1厅1厨1卫,低层(共6层),0.3元/平米・月,住宅,平层,精装修,NaN
175,精品好房 稍纵即逝,个人产权,普通住宅,钢混,2014年,99.38,3室2厅1厨2卫,中层(共11层),1.95元/・月,住宅,平层,精装修,NaN

In [545]:
#利用‘總價’列与‘建筑面积’列求均价

4.5302593877717445

In [489]:
df['總價'].isnull().sum()

2

In [546]:
#对‘總價’列单元格为空的，按上面求的“均价”与建筑面积相乘进行计算

In [547]:
df['總價'].isnull().sum()#再次计算‘總價’为空的单元格个数

0

In [548]:
df.head()

,標題,产权性质,住宅类别,建筑类别,年代,建筑面积,户型,楼层,物 业 费,物业类型,结构,装修,總價
0,急售70年产权房源 房东装修 户型正气 产证清晰 随时看房,个人产权,普通住宅,板楼,1989年,70.40,2室2厅1厨1卫,中层(共6层),0,住宅,平层,精装修,30.6
1,世纪大道站 福山外国语+建平西校 看房随时急卖,个人产权,普通住宅,塔楼,1989年,49.82,2室1厅0厨1卫,中层(共6层),1元/平米・月,住宅,平层,简装修,418.0
2,大四房出售，带会所+高区景观+车位,个人产权,普通住宅,NaN,2005年,288.30,4室2厅0厨2卫,高层(共40层),3.5元/平米・月,住宅,NaN,精装修,2650.0
4,"满五税费少,房东接受置换客户,房东这边房子已经看好,急卖",个人产权,普通住宅,钢混,1998年,58.00,2室1厅1厨1卫,高层(共6层),0.4元/平米・月,住宅,平层,精装修,190.0
7,纪联小区，，大一房一厅，精装修，，！诚售,个人产权,普通住宅,板楼,1996年,50.00,1室1厅1厨1卫,中层(共6层),0,住宅,平层,精装修,230.0

## 将资料写入CSV 中

In [549]:
df.to_csv('house_final.csv', index_label=False)